{% load static%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmL.cssASjC" crossorigin="anonymous">
	<link rel="stylesheet"  href="{%static 'styles/home.css'%}">
	<title>Customer Dashboard</title>
</head>
<body>
	<div>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CarShare</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav d-flex ms-auto mb-2 mb-lg-1">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="feedback">FeedBack</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Upcoming Trips</a>
        </li>
		<li class="nav-item">
			<a class="nav-link active" aria-current="page" href="payments">Payments</a>
		  </li>

        <li class="nav-item">
			<a href="index" type="button" class="btn btn-outline-danger">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
	</div>

<div>
	<h2>Welcome To CarShare!</h2>
			<div class="container d-none d-xl-block">
				<div class="card sidebar" style="width: 18rem; height: 33rem;">
				  <div class="card-body ">
				  	<img src="/static/images/no_img.jpg">
					  <div class="card-text">Student Name: Disha</div>
				    <div class="card-text">Student ID: 1CR19IS123</div>
				    <div class="card-text">Department: ISE</div>
				    <div class="card-text">Phone No: 6565650</div>
				    <div class="card-text">Email: raks19cs@cmrit.ac.in</div>
				    <div class="card-text">Gender: Male</div>
				  </div>
				</div>
			</div>


		<div class="container-fluid">
			<div class="row row-cols-1 row-cols-md-3 mb-3">
				<div class="card col-md-12 col-sm-12" style="width: 19rem;">
			  <img src="/static/images/cmr_logo.jpg" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title">To CMRIT</h5>
			    <p class="card-text">Book a ride to CMRIT from your location</p>
			    <a href="tocmrit" class="btn btn-primary" >Book A ride!</a>
			  </div>
			</div>

			<div class="card" style="width: 19rem;">
			  <img src="/static/images/Home.png" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title">To Home</h5>
			    <p class="card-text">Book A ride from CMRIT to your location</p>
			    <a href="tohome" class="btn btn-primary">Book Ride!</a>
			  </div>
			</div>

			<div class="card" style="width: 19rem;">
			  <img src="/static/images/rep_icon.png" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title">History</h5>
			    <p class="card-text">Look at all your Previous Trips</p>
			    <a href="customerhistory" class="btn btn-primary">Show History</a>
			  </div>
			</div>
			</div>
	</div>
	
</div>
		
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>