<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<title>Owner History</title>
	<style type="text/css">
		@media (min-width: 992px) {
			.tabl{
	/*margin: 0px 50px 0px 250px;*/
	margin-left: auto;
	margin-right: auto;
}
        }
	</style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="chome">CarShare</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav d-flex ms-auto mb-2 mb-lg-1">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">FeedBack</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="vehicleDetails">Update Vehicle</a>
        </li>
        

        <li class="nav-item">
          <button type="button" class="btn btn-outline-danger">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
	<div class="container">
		<h1 class="text-center">Here are Your Previous trips!</h1>
		<br>
		<br>
		<div class="tabl col-lg-10 col-md-12 col-sm-12">
			<table class="table table-bordered table-striped">
				 <thead class="table-dark text-center">
				   <tr>
				     <th scope="col">#</th>
				     <th scope="col">Date</th>
				     <th scope="col">Commuter</th>
				     <th scope="col">Location</th>
				     <th scope="col">Destination</th>
				     <th scope="col">Price</th>
				     <th scopw="col">FeedBack</th>
				   </tr>
				 </thead>
				 <tbody class="text-center">
				   <tr>
				     <th scope="row">1</th>
				     <td>08/01/2021</td>
				     <td>rakshit</td>
				     <td>From CMRIT</td>
				     <td>HAL</td>
				     <td>190</td>
				     <td>
				     	<button type="button" class="btn btn-outline-info">View FeedBack</button>
				     </td>
				   </tr>
				   <tr>
				    	<th scope="row">2</th>
				     <td>08/01/2021</td>
				     <td>Disha</td>
				     <td>To cmrit</td>
				     <td>Rm nagar</td>
				     <td>180</td>
				     <td>
				     	<button type="button" class="btn btn-outline-info">View FeedBack</button>
				     </td>
				   </tr>
				    
  				</tbody>
			</table>
			<br>
		</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>